services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: git-pulse
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    # ports:
    #   - "8080:8080"
    # volumes:
    #   - ./data:/app/data
